* {
    box-sizing: border-box;
  }
  
html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div, i {
    margin: 0;
    padding: 0;
    font-family: "Muli";
  }

p {
    font-family: "Open Sans";
    font-size: 16px;
}
  
li {
    list-style: none;
}

/* NAV BAR */ 

nav {
    width: 100%;
    background-color: #fff;
    opacity: 0.9;
    position: fixed;
    top: 0px;
    z-index: 10;
    margin: 0;
    padding: 0;
    height: 55px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.left-side {
    float: left;
}

.left-side a {
    font-weight: bold;
    color: #757575;
    font-size: 20px;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.right-side ul {
    float: right;
}

.right-side li {
    float: left;
}

.list-item a {
    color: grey;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    display: block;
    padding: 10px 10px 14px 10px;
}

.list-item :last-child {
    padding: 10px 10px 14px 10px;
}

.right-side a:hover {
    border-bottom: 2px solid #2196f3;
    color: #2196f3;
}

/* Hero content */

.hero-overlay {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}

.hero-content {
    padding-top: 30vh;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    margin-bottom: 10px;
}

.hero-left h1 {
    font-weight: 200;
    color: white;
    font-size: 48px;
}

.hero-left p {
    font-size: 14px;
    font-weight: 10;
    color: white;
    margin-top: 20px;
}

.card-hero {
    float: right;
    width: auto;
    padding: 20px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
} 

.card-hero h2 {
    padding-right: 30px;
    margin-bottom: 10px;
}

.text--highlight {
    color: #2196f3;
    font-weight: bold;
}

.btn-full {
    width: 150px;
    background-color: #2196f3;
    color: white;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

.form-element {
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background-color: white;
    width: 100%;
}

input {
    cursor: pointer;
    outline: none;
}

input:hover {
    border-color: #2196f3;
}

input:focus {
    border: 1px solid #2196f3;
}

.form-label, label {
    left: 0;
    z-index: 1;
    display: inline;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

/* LOGO SECTION */

.logos {
    position: relative;
    width: 100%;
    box-shadow: 0px 10px 8px #f5f5f5;
}

.logos-container {
    left: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logos-container li {
    padding: 10px 30px;
}

.logos-container img{
    max-width: 120px;
}

/* WATCH SECTION */

#Watch {
    width: 100%;
    display: inline-block;
    background-color: #f9f9f9;
}

.watch-section {
    margin: 150px auto;
}

.watch-left img {
    display: block;
    margin: 10px;
    float: left;
}

.watch-right {
    float: right;
}

.divider-left {
    float: left;
    width: 70px;
    border: 1px solid #2196f3;
}

.watch-item {
    margin-top: 20px;
}

.watch-item h3 {
    display: inline-block;
    margin-left: 10px;
}

.watch-item p {
    margin-bottom: 20px;
}

.fa-pencil {
    margin: 20px 0px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    color: white;
    background-color: #2196f3;
    border-radius: 100%;
}

.fa-cogs {
    margin: 20px 0px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    color: white;
    background-color: #2196f3;
    border-radius: 100%;
}

/* SCREEN SECTION */

.Screen section{
    position: absolute;
}

.screen-left {
    margin: 10% auto;
}

.screen-right img{
    position: relative;
    top: 20%;
    left: 5%;
    width: 90%;
    text-align: center;
}

/* OUR PROCESS */

.section-process {
    margin: 150px auto;
}

.title-section {
    text-align: center;
}

.divider-middle {
    text-align: center;
    width: 70px;
    border: 1px solid #2196f3;
}

.process-cards {
    text-align: center;
    margin: 50px auto;
}

.process-cards img {
    margin-bottom: 30px;
}

.process-cards h3 {
    margin-bottom: 30px;
}

/* PLAN SECTION */

#Plan {
    width: 100%;
    display: inline-block;
    background-color: #f9f9f9;
}

.plan-section {
    margin: 150px auto;
}

.card-plan-white {
    max-width: 30%;
    margin: 0px 20px;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.card-plan-white h4 {
    font-size: 20px;
    font-weight: bold;
}

.card-plan-white h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.card-plan-white p {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    display: inline;
}

.card-plan-white ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-plan-white li {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px;
}

.card-plan-blue {
    max-width: 30%;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
}

.card-plan-blue h4 {
    font-size: 20px;
    font-weight: bold;
}

.card-plan-blue h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.card-plan-blue p {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
    display: inline;
}

.card-plan-blue ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-plan-blue li {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0px;
}

.btn-white {
    width: 300px;
    background-color: white;
    color: #2196f3;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-border {
    width: 300px;
    background-color: white;
    color: #2196f3;
    border: 2px solid #2196f3;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    cursor: pointer;
}

/* TESTIMONILAS */

.testimonials-container {
    margin: 150px auto;
}

.testimonials-cards {
    padding: 30px;
    text-align: center;
}

.testimonial-pic {
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.testimonial-text {
    height: 130px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
    font-style: italic;
}

.quote {
    position: absolute;
    top: 10px;
    left: 30px;
    color: #777777;
    opacity: 0.2;
    font-family: "Times New Roman";
    font-size: 100px;
}

.testimonials h5 {
    font-size: 16px;
    margin: 10px;
    color: #757575;
}

/* GET STARTED */

.started {
    background-image: url(../img/insert--cta.jpg);
    background-size: cover;
    height: 330px;
    text-align: center;
    
}

.get-started {
    height: 330px;
    background-color: rgba(0, 0, 0, 0.6);
}

.iphone-background {
    padding: 80px;
    color: white;
}

.iphone-background h2 {
    padding: 20px;
}

/* CONTACT FORM */

.contact {
    padding: 100px;
    position: ;
    width: 80%;
    left: 10%;
}

.contact-form {
    margin: 50px 0px;
}

textarea {
    border: none;
    border-bottom: 1px solid #757575;
    width: 100%;
}

/* FOOTER */

footer {
    background-color: #424242;
    height: 150px;
}

.social li{
    float: left;
}